<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Movies Viewer</title>
    <style>
      body{background-color: white;}
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
    <script src="tileCreator.js" defer></script>
  </head>
  <body>
    <header><h3>Movies Viewer</h3></header>
    <main>
      <form method="post" enctype="multipart/form-data" action="/">
        <input type="file" name="filename">
        <input type="submit" value="upload">
      </form>
      <div id="tile"></div>
    </main>  
  </body>
</html>