<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Movies Viewer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
    <script src="messageScript.js" defer></script>
  </head>
  <body>
    <header><h3>Movies Viewer</h3></header>
    <main>
      <video width="320" height="240" controls>
        <source src="uploads/movie.mp4" type="video/mp4">
      </video>
            <video width="320" height="240" controls>
        <source src="uploads/movie2.mp4" type="video/mp4">
      </video>
            <video width="320" height="240" controls>
        <source src="uploads/movie3.mp4" type="video/mp4">
      </video>
    </main>  
  </body>
</html>