body {
  margin: 0;
  background-color: azure;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  align-items: center;
}

header {
  padding: 1%;
  text-align: left;
  box-shadow: 0px 0px 18px -7px #777777;
}

h1,h2,h3,h4,h5{margin: 0;}

img{
  margin-top: 20px;
  max-height: 80%;
  max-width: 100%;
}

main {
  background-image: url('assets/background.jpg');
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  width: 100%;  
  height:700px;
}

td{
  width: 93px;
}

label{
  font-size: 20px;
}

input{
  display: inline-block;
  height: 50px;
  width: 100%;
}

.info{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  color: white;
}

.tiles{
  margin-top: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  
}

.tile{
  background-color: #0000ff1c;
  margin: 10px 0 10px 0;
  height: 500px;
  width: calc(100%/3);
}

.tile:hover{
  filter: drop-shadow(0 0 0.75rem crimson);
}

.tile-header{
  background-color: #ffffff69;
}

.main-menu-content{
  float: left;
  display: flex;
  text-align: left;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
  }


#table-content{
  float: left;
  width: 100%;
  font-size: 15px;
  display: flex;
  justify-content: center;
}

table{
  width: 100%;
  background-color: #f2f2f296;
}

.shifts>td:nth-child(odd){
  background-color: rgb(219 219 219);

}
.button-87 {
  width: 100%;
  margin: 10px 0;
  padding: 5px 10px;
  border: #000000 solid 1px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: rgb(0, 0, 0);
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #777777;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.zmiana.selected {
  background-color: green;
  color: #FFF;
}

.button-87:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.button-87:active {
  transform: scale(0.95);
}

.btn {
  margin-top: 5px;
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: rgb(111, 111, 111);
  font-weight: 700;
  font-size: 15px;
  background-color: rgb(255, 255, 255);
  padding: 17px 60px;
  margin: 10px auto;
  box-shadow: 0 5px 15px rgba(0,0,0,0.20);
}

.btn span {
  position: relative; 
  z-index: 1;
}

.btn:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 140%;
  background: #000000;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.btn:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

